<div ng-controller="MT.Rates.RatesController">
    
    
    <div class="rates-group">
        
        <div class="rates-occupancy">
            <label for="min-guests">Min. guests</label>
            <input id="min-guests" ng-model="model.value.minGuests" type="number" min="1" />
        </div>
        
        <div class="rates-occupancy">
            <label for="min-guests">Max. guests</label>
            <input id="min-guests" ng-model="model.value.maxGuests" type="number" min="1" />
        </div>

    </div>
    
    <hr />

    <div class="rates-year">
        <label for="min-guests">Show rates for</label>
        <select ng-model="showYear" ng-options="number for number in allYears"></select>
    </div>



    <!-- (filtered) list of rates -->
    <div ng-if="model.value.rates.length > 0" class="rates-rows">

        <table>
            <thead>
                <tr>
                    <th scope="col">Start date</th>
                    <th scope="col">Min. nights</th>
                    <td>&nbsp;</td>
                    <th ng-if="model.value.minGuests > 0 && model.value.maxGuests >= model.value.minGuests" ng-repeat="i in getNumber(model.value.maxGuests) track by $index" ng-show="$index >= model.value.minGuests && $index <= model.value.maxGuests" scope="col">{{ $index }}</th>
                </tr>
            </thead>
            <tbody ng-repeat="rate in model.value.rates | startsInYear: showYear">
            
                <tr>
                    <td rowspan="2"><umb-flatpickr options="defaultDateTimeConfig" data-index="{{ rate.index }}" value="{{ rate.fromDate }}" class="rates-datepicker"></umb-flatpickr></td>
                    <td rowspan="2"><input ng-model="rate.minNights" type="number" min="1" class="rates-minnights" /></td>
                    <td>£</td>
                    <td ng-if="model.value.minGuests > 0 && model.value.maxGuests >= model.value.minGuests" ng-repeat="price in rate.prices" ng-show="$index >= model.value.minGuests && $index <= model.value.maxGuests"><input ng-model="price.ratePounds" type="number" min="0" class="rates-price" /></td>
                    <td rowspan="2"><a data-ng-click="removeRates(rate)" class="rates-delete"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                    <td>€</td>
                    <td ng-if="model.value.minGuests > 0 && model.value.maxGuests >= model.value.minGuests" ng-repeat="price in rate.prices" ng-show="$index >= model.value.minGuests && $index <= model.value.maxGuests"><input ng-model="price.rateEuros" type="number" min="0" class="rates-price" /></td>
                </tr>

            </tbody>
        </table>

        


    </div>

    <hr />

    
    <div class="rates-rows rates-rows-add">
        

        <table>
            <thead>
                <tr>
                    <th scope="col">Start date</th>
                    <th scope="col">Min. nights</th>
                    <td>&nbsp;</td>
                    <th ng-if="model.value.minGuests > 0 && model.value.maxGuests >= model.value.minGuests" ng-repeat="i in getNumber(model.value.maxGuests) track by $index" ng-show="$index >= model.value.minGuests && $index <= model.value.maxGuests" scope="col">{{ $index }}</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td rowspan="2"><umb-flatpickr id="newFromDate" options="newDateTimeConfig" class="rates-datepicker"></umb-flatpickr></td>
                    <td rowspan="2"><input ng-model="newMinNights" type="number" min="1" class="rates-minnights" /></td>
                    <td>£</td>
                    <td ng-if="model.value.minGuests > 0 && model.value.maxGuests >= model.value.minGuests" ng-repeat="i in getNumber(model.value.maxGuests) track by $index" ng-show="$index >= model.value.minGuests && $index <= model.value.maxGuests"><input ng-model="newPounds[$index]" type="number" min="0" class="rates-price" /></td>
                </tr>
                <tr>
                    <td>€</td>
                    <td ng-if="model.value.minGuests > 0 && model.value.maxGuests >= model.value.minGuests" ng-repeat="i in getNumber(model.value.maxGuests) track by $index" ng-show="$index >= model.value.minGuests && $index <= model.value.maxGuests"><input ng-model="newEuros[$index]" type="number" min="0" class="rates-price" /></td>
                    <td><a class="btn btn-success" data-ng-click="addRates()" tabindex="0">Add</a></td>
                </tr>

            </tbody>
        </table>

        

    </div>


</div>