.umb-prevalues-multivalues {
    width: 525px;
}
.umb-prevalues-multivalues__add input.availability-id-label {
    width: 53px;
    margin-right: 15px;
}





/*
.availabilityColor {
  border: 1px solid #eee;
  display: inline-block;
  height: 28px;
  margin-left: 1px;
  margin-right: 12px;
  vertical-align: top;
  width: 28px; }

.availabilityColorInput {
  width: 100px; }

.availabilityIdInput {
  width: 50px; }

    */


